body.about {
    @keyframes rotate {
		to {
            transform: rotate(360deg);
        }
    }
    .github-container {
        #codon-logo {
            width : 200px;
            margin: 0 auto;
        }
		svg {
			animation: rotate 10s infinite linear;
	
			#codon {
				display: none;
			}
		}


    }
}