
.media-highlight {
    border : 2px solid get-color(primary);
    margin-left: 1rem;

    @include breakpoint(medium) {
        border : 3px solid get-color(primary);
        margin-left: 0;
    }

    > * {
        position : relative;
        left     : -12px;
        top      : -12px;
        height   : 100%;
        width    : 100%;

        @include breakpoint(medium) {
            left     : -20px;
            top      : -20px;
        }
    }

}