$menu-link-color : white;
$menu-font-family : $button-font-family;

.menu-hover-highlight {
   @extend .highlight-text;
}

#menu {
    color    : white;
    position : relative;
    height   : 75px;
    z-index  : 10;
    @include breakpoint(medium) {
        height : 130px;
    }

    a,
    button,
    .button {
        font-family    : $menu-font-family;
        text-transform : uppercase;
    }

    .close-button {
        outline  : none;
        position : static;
        svg {
            height : 40px;
        }
    }

    button,
    .button {
        margin  : 0;
        outline : none;
    }

    .static-header {
        height : 100%;
        .title-bar  {
            svg {
                height: 5em;
                margin: 3em 0 0 2em;
                @include breakpoint(medium) {
                    height: 6em;
                }
            }
        }
    }

    .fixed-header {
        position         : fixed;
        top              : 0;
        left             : 0;
        width            : 100%;
        height           : 75px;
        z-index          : 100;
        background-color : $black;
        overflow         : hidden;
        display          : none;

        &.open {
            //z-index          : 11;
            //background-color : transparent;
            //.mobile-menu-open {
            //    display : none;
            //}
            //.mobile-menu-close {
            //    display : inline-block;
            //
            //}
        }
    }

    .mobile-menu-open {
        color: white;
        position : relative;
        &::after {
            content       : '';
            border-bottom : 2px solid get-color(primary);
            position      : absolute;
            left          : 15px;
            right         : 15px;
            bottom        : 5px;

        }
        //padding       : 0 0 3px 0;
        //border-bottom : 2px solid $black;
        // @include link-color($black, scale_color(get-color(primary), $lightness: -60%));
    }

    .mobile-menu-close {
        display   : inline-block;
        font-size : 43px;
        width     : 62px;
        svg {
            transition: transform .3s ease-in-out;
        }
        &:hover {
            svg {
                transform: scale(1.2);
                fill: get-color(primary);
            }

        }
    }

    &.condensed {
        .full-version {
            display : none;
        }
        .condensed-version {
            display : block;
        }

        .fixed-header {
            height : 75px;
            //opacity    : 1;
            //transition : opacity .5s ease-in-out;
        }

    }

    .title-bar {
        margin         : 0 auto;
        height         : 100%;
        text-transform : uppercase;
        max-width      : $global-width;

        svg {
            fill       : white;
        }

        .title-bar-left {
            max-width : 50px;
            
        }

        ul.menu {

            a {
                font-family : $menu-font-family;
                font-size   : 18px;
                color       : white;
                position    : relative;
                //color     : $titlebar-color;
                &:hover {
                    @extend .menu-hover-highlight;
                }
            }

            li.active {
                a {
                    background : transparent;
                    @extend .menu-hover-highlight;

                }
            }
        }

        ul.sub-menu {
            > li {
                > a {
                    font-size : 10px;
                    color     : white;

                }

                &:not(:last-child) {
                    > a {
                        &::after {
                            content      : '';
                            border-right : 1px solid get-color(primary);
                            position     : absolute;
                            right        : 0;
                            height       : 12px;
                        }
                    }
                }
            }

        }
    }

    .title-bar-right {
        @include breakpoint(medium) {
            ul {
                justify-content : flex-end;
            }
        }
    }

}

#mobile-menu {
    position   : fixed;
    padding    : 0;
    margin     : 0;
    background : transparent;

    &.open {
        display : block;
    }

    > .transition-container {
        background : $black;
        overflow   : hidden;
        height     : 0;
        position   : relative;
    }

    //display : none;

    .reveal-header {
        height : 75px;
    }
    .logo {
        svg {
            height: 2.5em;
            margin: 1.7em 0 0 1em;
            @include breakpoint(medium) {
                margin: 2.7em 0 0 .9em;
            }
        }
    } 

    ul.menu {
        text-align : center;
        @include breakpoint(small only) {
            margin-bottom: 15vh;
        }

        > li a {
            display     : inline;
            padding     : 5px 20px;
            transition  : color .5s ease;
            line-height : 60px;
            &:hover, &:focus, &:active {
                color : get-color(primary);
            }

            @include breakpoint(medium) {
                line-height : 90px;
            }
        }

        &.icons {
            > li a {
                line-height : 1;
            }
            i {
                font-size : 45px;
                color     : get-color(secondary);
                transition  : color .5s ease;
                @include breakpoint(medium) {
                    font-size : 23px;
                }
                &:hover {
                    color : get-color(primary);
                    transform: scale(1.2);
                }
            }
        }
    }

    hr {
        height: 50px;
        color: get-color(secondary);
    }

    .share-icons {
        position    : absolute;
        bottom      : 1rem;
        width       : 100%;
        transition  : color .5s ease;
        @include breakpoint(medium) {
            right: 1rem;
            width: 72px;
            height: auto;
            bottom: 2rem;

        }
        &:hover {
            color : get-color(primary);
        }

        .menu-label {
            @extend .gotham-bold;
            text-transform: uppercase;
            font-size: 14px;
            > span {
                padding: 0 23px;
                white-space: nowrap;
            }
        }
    }

    .top-menu {
        margin-top: 5rem;
    }

    .bottom-menu {
        position : absolute;
        bottom   : 72px;
        width    : 100%;
        @include breakpoint(medium) {
            bottom: 2rem;
        }

        // @include breakpoint(large) {
        //     transform:  translateX(-175px);
        // }
    }

    ul.sub-menu {
        > li {
            line-height : 1;
            > a {
                font-size   : 10px;
                color       : white;
                position    : relative;
                line-height : 1;
                display     : inline-block;
                @include breakpoint(374px down) {
                    font-size: 7px;
                }
                @include breakpoint(medium) {
                    padding-left  : 3rem;
                    padding-right : 3rem;
                    font-size     : 12px;
                }
            }

            &:not(:last-child) {
                > a {
                    &::after {
                        content      : '';
                        border-right : 1px solid white;
                        position     : absolute;
                        right        : 0;
                        height       : 12px;
                    }
                }
            }
        }

    }

    button,
    a {
        color     : white;
        font-size : 32px;
        &:hover {
            color : get-color(primary);
        }

        @include breakpoint(medium) {
            font-size : 46px;

        }
    }
}




