.gotham-medium {
    font-family : GothamMedium, 'sans-serif';
}

.gotham-book {
    font-family : GothamBook, 'sans-serif';
}

.gotham-bold {
    font-family : GothamBold, 'sans-serif';
}

.gotham-light {
    font-family : GothamLight, 'sans-serif';
}

html,
body {
    @include breakpoint(medium) {
        font-size : 20px;
    }
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}


